@model IEnumerable<Eshop.ViewModels.BusinessDomains.ProductViewModel>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<style>
    /* CSS styles for the image gallery */
    .image-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust the width as per your preference */
        gap: 10px; /* Add spacing between images */
    }

    /* CSS styles for the individual image items */
    .image-item {
        overflow: hidden; /* Clip the image overflow if necessary */
        border: 1px solid #ddd; /* Add a border around each image */
        padding: 10px;
    }

        .image-item img {
            max-width: 100%; /* Ensure the image doesn't exceed its container */
            height: auto; /* Maintain the aspect ratio */
        }
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="header-icon">
        <i class="fa fa-file-text"></i>
    </div>
    <div class="header-title">
        <h1>Products</h1>
        <small>Details</small>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- Form controls -->
        <div class="col-sm-12">
            <div class="card lobicard all_btn_card" id="lobicard-custom-control1" data-sortable="true">
                <div class="card-header all_card_btn">
                    <div class="card-title custom_title">
                        <a class="btn btn-add" asp-action="Index"><i class="fa fa-list"></i> Product List </a>
                    </div>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FirstOrDefault()!.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FirstOrDefault()!.Description)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FirstOrDefault()!.Price)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Category)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FirstOrDefault()!.Category)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ImagePath)
                        </dt>
                        <dd class="col-sm-10">
                            <div class="row">
                                <div class="image-gallery">
                                    @foreach (var i in Model)
                                    {
                                        if (i.ImagePath != null)
                                        {
                                            <div class="image-item">
                                                <img src="~/@Url.Content(i.ImagePath)" alt="Image" />
                                                <br />
                                                <a asp-action="RemoveImage" asp-route-id="@i.ProductImageId" class="btn" style="color:red;">Remove</a>
                                                <br />
                                                <a asp-action="MakeCover" asp-route-id="@i.ProductImageId" class="btn" style="color:blue">Make Cover</a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <form asp-action="AddImages" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="First().ProductId" />
                        <div class="form-group">
                            <label asp-for="First().ImagePath" class="control-label"></label>
                            <input type="file" accept="image/*" asp-for="First().ImagePath" class="form-control-file" multiple="multiple" />
                            <span asp-validation-for="First().ImagePath" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <a asp-action="Index">Back to List</a>
                            <input type="submit" value="Add" class="btn btn-sm btn-info" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


