
@*@model IPagedList<Eshop.Web.Models.ViewModels.ProductViewModel>*@

@model Eshop.Web.Helper.PaginatedList<Eshop.ViewModels.BusinessDomains.ProductViewModel>

@*@using X.PagedList.Mvc.Core;
@using X.PagedList;*@
@using Eshop.Web.Models


@{
    ViewData["Title"] = "Index";
}

<style>
    .myimg {
        transition: transform .2s; /* Animation */
        margin: 0 auto;
    }

    .myimg:hover {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }

    /*.card-body:hover{
        background-color:aliceblue;
        color:black;
    }*/

    #AddCart:hover{
        background-color: darkblue;
    }

    .myHiddenInput {
        align-content:center;
        align-items:center;
        text-align:center;
    }

    .customPadding{
        padding-bottom: 5px;
    }
</style>

<div class="container  d-none d-sm-block">
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-9">
            <div class="text-center">
                <h1>Products</h1>
            </div>
        </div>    
    </div>
    <div class="row">
        <div class="col-3">

            <br /> <br />     
            
            <div class="row">
                <h4><strong>Filter</strong></h4>
                @using (Html.BeginForm("Index", "Product", FormMethod.Get))
                {
                    <div style="text-align:left">
                        <p>
                            @Html.DropDownList("cat_id",(SelectList)ViewBag.Cat_Id,"All",new { @class="form-control" }) @* <strong>Category</strong> *@
                        </p>
                        <p>
                            @Html.Editor("price", new { htmlAttributes = new { @class = "form-control", @placeholder = "Price", @type = "number" } }) @* <strong>Price Within</strong> *@
                        </p>
                        <p>
                            <input type="submit" value="Sort" class="btn btn-info form-control" />
                        </p>
                    </div>
                }
            </div>

            <br /><br />

            <div class="row">
                <h4><strong>Status</strong></h4>
                <p>@Html.Editor("Price", new { htmlAttributes = new { @class = "form-control", @style = "background-color: MidnightBlue;color:white;font-size:18px;", @readonly = "readonly", @id = "Price", @placeholder = "Price" } }) @* <strong>Price</strong></p> *@
                <p>@Html.Editor("CurrentStock", new { htmlAttributes = new { @class = "form-control", @style = "background-color: MidnightBlue;color:white;font-size:18px;", @readonly = "readonly", @id = "CurrentStock", @placeholder = "Stock" } }) @* <strong>Stock</strong></p> *@
            </div>
        </div>

        <div class="col-9">
            <div class="text-center">
                @using (Html.BeginForm("Index", "Product", FormMethod.Get))
                {
                    <p>
                        @Html.TextBox("SearchString", (string)ViewBag.CurrentFilter,null,new { @placeholder = "Search products" })
                        <input type="submit" value="Search" style="font-weight: bold;" />
                    </p>
                }
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-4">
                        <div class="card bg-transparent">
                            <div class="card-body">
                                @Html.HiddenFor(x=>item.Price)
                                @Html.HiddenFor(x=>item.CurrentStock)
                                <div class="text-center">
                                    @if (item.ImagePath != null)
                                    {
                                        <div class="myimg" style="margin:2px;">
                                            <a href="@Url.ActionLink("Details", "Product", new { id = item.ProductId })">
                                                <img class="img-fluid" style="height:150px;width:150px;" src="~/@Url.Content(item.ImagePath)" />
                                            </a>
                                        </div>
                                    }
                                    <p class="card-title" style="font-family:Arial Black">@item.Name</p>
                                    @*<h4>
                                        <span>@item.Price.ToString("c")</span>
                                    </h4>*@
                                    <p class="card-text">
                                        <span>@item.ShortDesc @Html.ActionLink("see details","Details","Product", new{ id = @item.ProductId })</span>
                                    </p>
                                </div>
                            </div>                            
                            <div>
                                @using (Html.BeginForm("AddToCart", "Cart"))
                                {
                                    <div class="myHiddenInput">
                                        @Html.Hidden("productId",item.ProductId)
                                        @Html.Hidden("IsAvailabe",item.IsAvailabe)
                                        @Html.Hidden("returnUrl", @Context.Request.Path)

                                        @*@Html.Hidden("productId",@item.ProductID)
                                        @Html.Hidden("IsAvailableM",@item.IsAvailabe)*@
                                        <input type="submit" class="btn btn-success" value="Add To Cart" id="AddCart" />
                                    </div>
                                    <br/>
                                }
                            </div>                           
                        </div>
                        <br />
                    </div>
                }
                
            </div>
        </div>
    </div>
</div>

@*Mobile Page view*@
<div class="container  d-block d-sm-none">
    <div class="row">
        <div class="text-center">
            <h1>Products</h1>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
            @using (Html.BeginForm("Index", "Product", FormMethod.Get))
            {
                <p>
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string,null,new { @placeholder = "Search products" })
                    <input type="submit" value="Sort" class="btn-info" />
                </p>
            }
        </div>
        <div class="text-center">
            @using (Html.BeginForm("Index", "Product", FormMethod.Get))
            {
                <p>
                    @Html.Editor("price", new { htmlAttributes = new { @placeholder = "Price", @type="number" } })
                    <input type="submit" value="Sort" class="btn-info" />
                </p>
                <p>
                    @Html.DropDownList("cat_id", (SelectList)ViewBag.Cat_Id, "All", new { @id = "cat_id_m", @class = "form-control" })
                </p>
            }
        </div>
        <div class="row text-center customPadding">
            @* <div class="row">
            <div class="col-6">@Html.Label("Price",null,new { @style="font-weight:bold;" })</div>
            <div class="col-6">@Html.Label("Stock",null,new { @style="font-weight:bold;" })</div>
            </div> *@
            <div class="row">
                <div class="col-6">@Html.Editor("Price", new { htmlAttributes = new { @style = "width: 90%;background-color: MidnightBlue;color:white;", @readonly = "readonly", @id = "PriceM", @placeholder = "Price" } }) </div>
                <div class="col-6">@Html.Editor("CurrentStock", new { htmlAttributes = new { @style = "width: 90%; margin-left: 20px;background-color: MidnightBlue;color:white;", @readonly = "readonly", @id = "CurrentStock_M", @placeholder = "Stock" } })</div>
            </div>
        </div>
        <div class="row text-center">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card-group">
                        <div class="card bg-light" style="height:275px;">
                            <div class="card-body">
                                @Html.HiddenFor(x=>item.Price , new { @id = "m_price" })
                                @Html.HiddenFor(x=>item.CurrentStock, new { @id = "m_stock" })
                                <div class="text-center">
                                    @if (item.ProductImageId != null)
                                    {
                                        <div style="margin:2px;">
                                            <a href="@Url.ActionLink("Details", "Product", new { id = item.ProductId })">
                                                <img class="img-fluid" style="height:75px;width:75px;" src="~/@Url.Content(item.ImagePath)" />
                                                @* <img class="img-fluid" style="height:75px;width:75px;" src="data:ImageData;base64,@System.Convert.ToBase64String(item.ImageData)" /> *@
                                            </a>
                                        </div>
                                    }
                                    <p class="card-title">@item.Name</p>
                                    @*<h4>
                                <span>@item.Price.ToString("c")</span>
                                </h4>*@
                                    <p class="card-text">
                                        <span>@item.ShortDesc @Html.ActionLink("see details","Details","Product", new { id = @item.ProductId })</span>
                                    </p>
                                </div>
                            </div>
                            <div>
                                @using (Html.BeginForm("AddToCart", "Cart"))
                                {
                                    <div class="text-center">
                                        @Html.Hidden("productId",item.ProductId)
                                        @Html.Hidden("IsAvailabe",item.IsAvailabe)
                                        @Html.Hidden("returnUrl", @Context.Request.Path)
                                        
                                        @*@Html.Hidden("productId",@item.ProductID)
                                        @Html.Hidden("IsAvailableM",@item.IsAvailabe)*@

                                        <input type="submit" class="btn btn-success" value="Add To Cart" id="AddCart" />
                                    </div>
                                    <br />
                                }
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            }

        </div>
    </div>
</div>

<div class="container">

@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter  }))*@

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var LastDisabled = !Model.IsLastPage ? "disabled" : "";
}

<br/>
Page &nbsp; @Model.PageIndex &nbsp; of &nbsp; @Model.TotalPages &nbsp;
<br />
    <a href="@Url.Action("Index",new { page=1 })" class="btn btn-dark @prevDisabled"> <span class="fa fa-angle-double-left"></span> </a>
    <a href="@Url.Action("Index",new { page=Model.PageIndex-1 })" class="btn btn-dark @prevDisabled"> <span class="fa fa-arrow-left"></span> </a>
    <a href="@Url.Action("Index",new { page=Model.PageIndex+1 })" class="btn btn-dark @nextDisabled"> <span class="fa fa-arrow-right"></span> </a>
    <a href="@Url.Action("Index",new { page=Model.TotalPages })" class="btn btn-dark @LastDisabled"> <span class="fa fa-angle-double-right"></span> </a>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">

        $("#cat_id").change(function () {
            this.form.submit();
        });
        
        $("#cat_id_m").change(function () {
            this.form.submit();
        });

    </script>

    <script type="text/javascript">
        // Hover product details
        $(".card").hover(
            function () {
                let stock = parseInt($(this).closest('.card').find('#item_CurrentStock').val());
                let price = parseFloat($(this).closest('.card').find('#item_Price').val());   

                let Available = $(this).closest('.card').find('#IsAvailabe').val();
                let Is_available = Available === "True" ? true : false;
                let button_expire_value = "Out of stock";
                if(!Is_available){
                    $(this).closest('.card').find('#AddCart').val(button_expire_value);
                    $(this).closest('.card').find('#AddCart').css('background-color', 'red');
                    $(this).closest('.card').find('#AddCart').prop('disabled', true);
                }
                else{
                    $(this).closest('.card').find('#AddCart').prop('disabled', false);
                }
                
                $("#Price").val(price);
                $("#CurrentStock").val(stock);

                // for Mobile
                let stockM = parseInt($(this).closest('.card').find('#m_stock').val());
                let priceM = parseFloat($(this).closest('.card').find('#m_price').val());
                $("#PriceM").val(priceM);
                $("#CurrentStock_M").val(stockM);
            },
            function () {
                $("#Price").val(null);               
                $("#CurrentStock").val(null);

                // for Mobile
                $("#PriceM").val(null);
                $("#CurrentStock_M").val(null);
            }
        );

    </script>

}