
@*@model IPagedList<Eshop.Web.Models.ViewModels.ProductViewModel>*@

@model Eshop.Web.Helper.PaginatedList<Eshop.ViewModels.BusinessDomains.ProductViewModel>

@*@using X.PagedList.Mvc.Core;
@using X.PagedList;*@
@using Eshop.Web.Models


@{
    ViewData["Title"] = "Index";
}

<link href="~/css/businessdomains/product/product-index.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <form asp-action="Index" method="get">
            <div class="input-group" style="padding-bottom: 10px;">
                @Html.TextBox("SearchString", (string)ViewBag.CurrentFilter,null,new { @placeholder = "Search products", @class="form-control w-25" })
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-info">Search</button>
                </span>
            </div>
        </form>
    </div>
</div>
 
<div class="row">
    <div class="col-md-3">
        <form asp-action="Index" method="get">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-5 col-5" style="padding-bottom: 2%;">
                    @Html.DropDownList("categoryId",(SelectList)ViewBag.CategoryId,"All",new { @class="form-control", @id = "categoryId" }) @* <strong>Category</strong> *@
                </div>
                <div class="col-md-12 col-lg-12 col-sm-4 col-4" style="padding-bottom: 2%;">
                    @Html.Editor("price", new { htmlAttributes = new { @class = "form-control", @placeholder = "Price", @type = "number", @id = "price" } }) @* <strong>Price Within</strong> *@
                </div>
                <div class="col-md-12 col-lg-12 col-sm-3 col-3" style="padding-bottom: 2%;">
                    <input type="submit" value="Sort" class="btn btn-warning form-control" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-9">
        <div class="row">

        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-6 col-6">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <div class="text-center">
                                @if (item.ImagePath != null)
                                {
                                    <div class="myimg" style="margin:2px;">
                                        <a href="@Url.ActionLink("Details", "Product", new { id = item.ProductId })">
                                            <img class="img-fluid" style="height:150px;width:150px;" src="~/@Url.Content(item.ImagePath)" />
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="myimg" style="margin:2px;">
                                        <a href="@Url.ActionLink("Details", "Product", new { id = item.ProductId })">
                                            <img class="img-fluid" style="height:150px;width:150px;" src="~/icons/image-icon-1.png" alt="No Image Available" />
                                        </a>
                                    </div>
                                }
                                <h4>
                                    <span>@item.Price.ToString("c")</span>
                                </h4>
                                <p class="card-title" style="font-family:Arial Black">@item.Name</p>
                            </div>
                        </div>
                        <div class="mt-auto">
                            @using (Html.BeginForm("AddToCart", "Cart"))
                            {
                                <div class="myHiddenInput">
                                    @Html.Hidden("productId", item.ProductId)
                                    @Html.Hidden("IsAvailable", item.IsAvailable)
                                    @Html.Hidden("returnUrl", @Context.Request.Path)
                                    <input type="submit" class="btn btn-success" style="background-color: green" value="Add To Cart" id="AddCart" />
                                </div>
                                <br />
                            }
                        </div>
                    </div>
                </div>
            }
                
        </div>
    </div>
</div>    


@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter  }))*@

<div class="container">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        var LastDisabled = !Model.IsLastPage ? "disabled" : "";
    }
    <br/>
    Page &nbsp; @Model.PageIndex &nbsp; of &nbsp; @Model.TotalPages &nbsp;
    <br />
    <a href="@Url.Action("Index",new { page=1 })" class="btn btn-dark @prevDisabled"> <span class="fa fa-angle-double-left"></span> </a>
    <a href="@Url.Action("Index",new { page=Model.PageIndex-1 })" class="btn btn-dark @prevDisabled"> <span class="fa fa-arrow-left"></span> </a>
    <a href="@Url.Action("Index",new { page=Model.PageIndex+1 })" class="btn btn-dark @nextDisabled"> <span class="fa fa-arrow-right"></span> </a>
    <a href="@Url.Action("Index",new { page=Model.TotalPages })" class="btn btn-dark @LastDisabled"> <span class="fa fa-angle-double-right"></span> </a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/manager/businessdomains/product/product-index.js"></script>
}
