@model IEnumerable<Eshop.Models.Menu.DynamicMenuItem>

@if (Model != null)
{
    @foreach (var m in Model)
    {
        if (m.MenuParentID == null)
        {
            var submenu = Model.Where(n => n.MenuParentID == m.MID).ToList();

            if (submenu != null && submenu.Count > 0)
            {
                <li class="treeview">
                    <a href="#">
                        <i class="@m.FaIcon"></i><span>@m.MenuName</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left float-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        @foreach (var e in submenu)
                        {
                            var submenu2 = Model.Where(n => n.MenuParentID == e.MID).ToList();
                            if (submenu2 != null && submenu2.Count > 0)
                            {
                                <li class="treeview">
                                    <a href="#">
                                        <i class="@m.FaIcon"></i><span>@e.MenuName</span>
                                        <span class="pull-right-container">
                                            <i class="fa fa-angle-left float-right"></i>
                                        </span>
                                    </a>
                                    <ul class="treeview-menu">
                                        @foreach (var f in submenu2)
                                        {
                                            <li><a href="@f.MenuURL">@f.MenuName</a></li>
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@e.MenuURL">@e.MenuName</a>
                                </li>
                            }
                        }
                    </ul>
                </li>
            }
            else
            {
                <li>
                    <a href="@m.MenuURL">
                        <i class="@m.FaIcon"></i><span>@m.MenuName</span>
                        <span class="pull-right-container">
                        </span>
                    </a>
                </li>
            }
        }
    }
}

